* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: lighter;
	line-height: 1.5;
	color: #606c71;
	font-family: 'Open Sans', sans-serif;
	border-top: .45rem solid rgb(50, 89, 169);
	border-bottom: .45rem solid rgb(188, 0, 0);
}

a {
	color: rgb(39, 42, 57);
	text-decoration: none;
	border-bottom: .1rem solid rgba(39, 42, 57, .15);
}

a:hover {
	text-decoration: none;
	border-bottom: .1rem solid rgb(39, 42, 57);
}

.button {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.button + .button {
	margin-left: 1rem;
}

.button:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	margin-top: 2rem;
	font-style: italic;
	margin-bottom: 1rem;
	font-weight: bold;
	line-height: 1.2;
	font-size: 2.2rem;
	color: rgb(31, 35, 43);
}

@media screen and (min-width: 64em) {
	.button {
		padding: 0.75rem 1rem;
	};
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.button {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.65rem;
	}
}

@media screen and (max-width: 42em) {
	.button {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;
	}

	.button + .button {
		margin-top: 1rem;
		margin-left: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.65rem;
	}
}

.page-header {
	color: #fff;
	text-align: center;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 64em) {
	.page-header {
		padding: 5rem 6rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.page-header {
		padding: 3rem 4rem;
	}
}

@media screen and (max-width: 42em) {
	.page-header {
		padding: 2rem 1rem;
	}
	figure {
		margin-left: 0;
		margin-right: 0;
	}
}

.page-title {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0rem;
	color: white;
}

@media screen and (min-width: 64em) {
	.page-title {
		font-size: 4.4rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.page-title {
		font-size: 4.4rem;
	}
}

@media screen and (max-width: 42em) {
	.page-title {
		font-size: 2.2rem;
	}
}

.page-tagline {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	opacity: 0.7;
	margin: 1rem 0 0;
	color: rgba(255,255,255,1);
}

@media screen and (min-width: 64em) {
	.page-tagline {
		font-size: 1.25rem;
	};
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.page-tagline {
		font-size: 1.15rem;
	};
}

@media screen and (max-width: 42em) {
	.page-tagline {
		font-size: 1rem;
	};
}

.page-content {
	margin-top: 0;
}

.page-content img {
	max-width: 100%;
}


.page-content p {
	margin-bottom: 1em;
}

.page-content code {
	padding: 2px 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 0.9rem;
	color: #383e41;
	background-color: #f3f6fa;
	border-radius: 0.3rem;
}

.page-content pre {
	padding: 0.8rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: #567482;
	word-wrap: normal;
	background-color: #f3f6fa;
	border: solid 1px #dce6f0;
	border-radius: 0.3rem;
}

.page-content pre > code {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	color: #567482;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

.page-content .highlight {
	margin-bottom: 1rem;
}

.page-content .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.page-content .highlight pre,
.page-content pre {
	padding: 0.8rem;
	overflow: auto;
	font-size: 0.9rem;
	line-height: 1.45;
	border-radius: 0.3rem;
}

.page-content pre code,
.page-content pre tt {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

.page-content pre code:before,
.page-content pre code:after,
.page-content pre tt:before,
.page-content pre tt:after {
	content: normal;
}

.page-content ul,
.page-content ol {
	margin-top: 0;
}

.page-content blockquote {
	padding: 0 1rem;
	margin-left: 0;
	color: #819198;
	border-left: 0.3rem solid #dce6f0;
}

.page-content blockquote >:first-child {
	margin-top: 0;
}

.page-content blockquote >:last-child {
	margin-bottom: 0;
}

.page-content table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
}

.page-content table th {
	font-weight: bold;
}

.page-content table th,
.page-content table td {
	padding: 0.5rem 1rem;
	border: 1px solid #e9ebec;
}

.page-content dl {
	padding: 0;
}

.page-content dl dt {
	padding: 0;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: bold;
}

.page-content dl dd {
	padding: 0;
	margin-bottom: 1rem;
}

.page-content hr {
	height: 2px;
	padding: 0;
	margin: 1rem 0;
	background-color: #eff0f1;
	border: 0;
}

@media screen and (min-width: 64em) {
	.page-content {
		max-width: 64rem;
		padding: 0 6.6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	};
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.page-content {
		padding: 0 4.4rem;
		font-size: 1.1rem;
	};
}

@media screen and (max-width: 42em) {
	.page-content {
		padding: 0rem 0;
		font-size: 1rem;
	};
}

.site-footer {
	line-height: 6rem;
	text-align: center;
}

.site-footer-owner {
	display: block;
	font-weight: bold;
}

.site-footer-credits {
	color: #819198;
}
.site-footer-credits:hover {
	border-color: #819198;
}

@media screen and (min-width: 64em) {
	.site-footer {
		font-size: 1rem;
	};
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.site-footer {
		font-size: 1rem;
	};
}

@media screen and (max-width: 42em) {
	.site-footer {
		font-size: 0.9rem;
	};
}


.about-us-title {
	text-align: center;
}
.about-us-content {
	padding: 0rem 1rem;
}


/** A bit custom styles */
.form {
	background: rgb(157, 166, 167);
	color: white;
	padding: 1rem 2rem;
	text-align: center;
}
.form-title {
	margin: 0;
	color: white;
}
.form-tagline {
	color: white;
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}
.form-input {
	display: block;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	margin: 1rem 0;
}
.form-submit {
	display: block;
	width: 50%;
	height: 3rem;
	padding: 0;
	line-height: 3rem;
	margin: 1rem auto;
	/*color: black;*/
	/*border: 0;*/
}

.post {
	margin: 0;
	padding: 2rem 1rem 2.5rem;
	border-bottom: .1rem dotted rgba(39, 42, 57, .15);
}
.post-title {
	margin: 0 0 1rem;
	font-family: 'Playfair Display', serif;
	letter-spacing: .02ex;
	font-style: italic;
	font-size: 1.8rem;
	line-height: 1.4;
}
.post-meta {
	margin-top: .75rem;
	font-size: .9rem;
	color: rgb(169, 176, 179);
}
.post-excerpt p,
.post-excerpt * {
	margin: 0;
}

.post-excerpt h1,
.post-excerpt h2,
.post-excerpt h3,
.post-excerpt h4,
.post-excerpt h5,
.post-excerpt h6 {
	font-size: 1.4rem;
	font-family: sans-serif;
	font-style: normal;
}


.post-content {

}


.post-comments {
}
.post-comments .fb-comments {
	display: block!important;
    margin-left: -7px;
    margin-right: -7px;
}
.post-comments .fb-comments > span {
	display: block!important;
	width: 100%!important;
}
.post-comments .fb-comments > span > iframe {
	display: block;
	width: 100%!important;
}

.post-place-map {
	min-height: 50vh;
	width: 100%;
}
@media (max-width: 42em) {
	.post-place-map {
		width: 100vw;
		margin-left: -1rem;
	}
}