<footer class="site-footer content-centered">
	{% comment %}
	<div class="site-footer-column">
		<a class="twitter-timeline" data-height="400" href="https://twitter.com/MIRCAMTL">Tweets by MIRCA</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div class="site-footer-column">
		<div class="fb-page" data-href="https://www.facebook.com/MIRCAMTL" data-tabs="timeline" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MIRCAMTL" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MIRCAMTL">Morgan Initiative on Russian Cultural Affairs</a></blockquote></div>
	</div>
	{% endcomment %}
	<div class="site-footer-credits">
		<a class="site-footer-link" href="http://prose.io/#mircamtl/mircamtl.github.io">☮</a>
		<a class="site-footer-link" href="/">🍁</a>
		<a class="site-footer-link" href="//github.com/mircamtl" style="width: 1rem; height: 1rem;">{% include github.svg %}</a>
	</div>
</footer>
