---
layout: default
---
<nav class="breadcrumbs"><a class="breadcrumb breadcrumb-root" href="/"><img class="breadcrumb-logo" src="{{ site.baseurl }}/img/logo.png"/></a><span class="breadcrumb-sep">/</span><a href="{{ site.url }}{{ page.url }}" class="breadcrumb breadcrumb-current">{{ page.title }}</a></nav>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<div class="post-meta">{% include time.html date=page.date %}{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
	</header>

	<section class="post-content" itemprop="articleBody">
		{{ content }}
	</section>

	{% if page.related %}
	<hr/>
	<section class="post-related">
		<h2 class="post-related-title">Related</h2>

		{% for item in page.related %}
			{% for post in site.posts %}
				{% if post.slug == item %}
				<div class="post-related-item">
				<h3 class="post-related-item-title">{{ post.title }}</h3>
				<div class="post-related-item-tagline">{{ post.excerpt|truncate: 120, '...' }}</div>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</section>
	{% endif %}

	{% if page.where %}
	<hr/>
	<section id="where" class="post-place">
		<h2 class="post-place-title post-title-ornament">Where</h2>
		<address class="post-place-address">

		</address>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaSKW0i_9_hZRnoLTAv-ayibnSURjTbIw&callback=initMap" type="text/javascript"></script>

		<script>
			function initMap() {
				// Specify features and elements to define styles.
				// var styleArray = [{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2e5d4"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{"featureType":"road","elementType":"all","stylers":[{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]}];

				var coords = {lat: 45.5067286, lng: -73.5685327};

				// Create a map object and specify the DOM element for display.
				var map = new google.maps.Map(document.getElementById('map'), {
					center: coords,
					// scrollwheel: false,
					// styles: styleArray,
					zoom: 14
				});
				var marker = new google.maps.Marker({
					position: coords,
					map: map,
					title: 'Anticafé'
				});
			}
		</script>

		<div id="map" class="post-place-map"></div>
	</section>
	{% endif %}

	{% if page.comments %}
	<hr/>
	<section class="post-comments">
		<h2 class="post-place-title post-title-ornament">Comments</h2>
		{% comment %}
		<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
		{% endcomment %}

		<div id="disqus_thread"></div>
		<script>

		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
		/*
		var disqus_config = function () {
		    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		*/
		(function() { // DON'T EDIT BELOW THIS LINE
		    var d = document, s = d.createElement('script');
		    s.src = '//mirca.disqus.com/embed.js';
		    s.setAttribute('data-timestamp', +new Date());
		    (d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</section>
	{% endif %}

	<footer class="post-footer">
	</footer>

</article>
